<div id="az" style="z-index:2; left: 13px; top: 113px; visibility: visible;">
	<p align="left" class="leftTitle"><b>
			<font color="#000000" face="Arial" size="2">CID10: </font>
		</b></p>
	<p>Os coronav&iacute;rus (CoV) s&atilde;o uma grande fam&iacute;lia
		viral, conhecidos desde meados dos anos 1960, que causam infec&ccedil;&otilde;es respirat&oacute;rias em
		seres
		humanos e em animais. Geralmente, infec&ccedil;&otilde;es por coronav&iacute;rus causam doen&ccedil;as
		respirat&oacute;rias leves a moderada, semelhantes a um resfriado comum. A maioria das pessoas se infecta
		com os
		coronav&iacute;rus comuns ao longo da vida, sendo as crian&ccedil;as pequenas mais propensas a se
		infectarem. Os
		coronav&iacute;rus comuns que infectam humanos s&atilde;o alpha coronav&iacute;rus 229E e NL63 e beta
		coronav&iacute;rus OC43, HKU1.<br>
		<br>
		Alguns coronav&iacute;rus podem causar s&iacute;ndromes respirat&oacute;rias graves, como a s&iacute;ndrome
		respirat&oacute;ria aguda grave que ficou conhecida pela sigla SARS da s&iacute;ndrome em ingl&ecirc;s
		&ldquo;Severe Acute Respiratory Syndrome&rdquo;. SARS &eacute; causada pelo coronav&iacute;rus associado
		&agrave; SARS (SARS-CoV), sendo os primeiros relatos na China em 2002. O SARS-CoV se disseminou rapidamente
		para
		mais de doze pa&iacute;ses na Am&eacute;rica do Norte, Am&eacute;rica do Sul, Europa e Asia, infectando mais
		de
		8.000 pessoas e causando entorno de 800 mortes, antes da epidemia global de SARS ser controlada em 2003.
		Desde
		2004, nenhum caso de SARS tem sido relatado mundialmente.<br>
		<br>
		Em 2012, foi isolado outro novo coronav&iacute;rus, distinto daquele que causou a SARS no come&ccedil;o da
		d&eacute;cada passada. Esse novo coronav&iacute;rus era desconhecido como agente de doen&ccedil;a humana
		at&eacute; sua identifica&ccedil;&atilde;o, inicialmente na Ar&aacute;bia Saudita e, posteriormente, em
		outros
		pa&iacute;ses do Oriente M&eacute;dio, na Europa e na &Aacute;frica. Todos os casos identificados fora da
		Pen&iacute;nsula Ar&aacute;bica tinham hist&oacute;rico de viagem ou contato recente com viajantes
		procedentes
		de pa&iacute;ses do Oriente M&eacute;dio &ndash; Ar&aacute;bia Saudita, Catar, Emirados &Aacute;rabes e
		Jord&acirc;nia.<br>
		<br>
		Pela localiza&ccedil;&atilde;o dos casos, a doen&ccedil;a passou a ser designada como s&iacute;ndrome
		respirat&oacute;ria do Oriente M&eacute;dio, cuja sigla &eacute; MERS, do ingl&ecirc;s &ldquo;Middle East
		Respiratory Syndrome&rdquo; e o novo v&iacute;rus nomeado coronav&iacute;rus associado &agrave; MERS (<a
			href="http://portalsaude.saude.gov.br/index.php/o-ministerio/principal/leia-mais-o-ministerio/638-secretaria-svs/vigilancia-de-a-a-z/coronavirus/13752-mers-cov">MERS-CoV</a>).<br>
		<br>
		<strong>Manifesta&ccedil;&otilde;es Cl&iacute;nicas</strong> <br>
		<br>
		Os coronav&iacute;rus humanos comuns causam infec&ccedil;&otilde;es respirat&oacute;rias brandas a moderadas
		de
		curta dura&ccedil;&atilde;o. Os sintomas podem envolver coriza, tosse, dor de garganta e febre. Esses
		v&iacute;rus algumas vezes podem causar infec&ccedil;&atilde;o das vias respirat&oacute;rias inferiores,
		como
		pneumonia. Esse quadro &eacute; mais comum em pessoas com doen&ccedil;as cardiopulmonares, com sistema
		imunol&oacute;gico comprometido ou em idosos.<br>
		O MERS-CoV, assim como o SARS-CoV, causam infec&ccedil;&otilde;es graves. Para maiores
		informa&ccedil;&otilde;es
		sobre as manifesta&ccedil;&otilde;es cl&iacute;nicas do MERS-CoV, acesse a p&aacute;gina sobre&nbsp;<a
			href="http://portalsaude.saude.gov.br/index.php/o-ministerio/principal/leia-mais-o-ministerio/638-secretaria-svs/vigilancia-de-a-a-z/coronavirus/13752-mers-cov">MERS-CoV</a>.<br>
		<strong> </strong><br>
		<strong> Per&iacute;odo de incuba&ccedil;&atilde;o</strong> <br>
		<br>
		De 2 a 14 dias<br>
		<br>
		<strong>Per&iacute;odo de Transmissibilidade</strong><br>
		<br>
		De uma forma geral, a transmiss&atilde;o viral ocorre apenas enquanto persistirem os sintomas &Eacute;
		poss&iacute;vel a transmiss&atilde;o viral ap&oacute;s a resolu&ccedil;&atilde;o dos sintomas, mas a
		dura&ccedil;&atilde;o do per&iacute;odo de transmissibilidade &eacute; desconhecido para o SARS-CoV e o
		MERS-CoV. Durante o per&iacute;odo de incuba&ccedil;&atilde;o e casos assintom&aacute;ticos n&atilde;o
		s&atilde;o contagiosos.<br>
		<br>
		<strong>Transmiss&atilde;o inter-humana</strong><br>
		<br>
		Todos os coronav&iacute;rus s&atilde;o transmitidos de pessoa a pessoa, incluindo os SARS-CoV, por&eacute;m
		sem
		transmiss&atilde;o sustentada. Com rela&ccedil;&atilde;o ao MERS-CoV, existem a OMS considera que h&aacute;
		atualmente evid&ecirc;ncia bem documentada de transmiss&atilde;o de pessoa a pessoa, por&eacute;m sem
		evidencias
		de que ocorra transmiss&atilde;o sustentada.<br>
		<strong><br>
			Modo de Transmiss&atilde;o</strong> <br>
		<br>
		De uma forma geral, a principal forma de transmiss&atilde;o dos coronav&iacute;rus se d&aacute; por contato
		pr&oacute;ximo* de pessoa a pessoa.<br>
		<strong><br>
			*&nbsp;Defini&ccedil;&atilde;o de contato pr&oacute;ximo:&nbsp;</strong>Qualquer pessoa que cuidou do
		paciente, incluindo profissionais de sa&uacute;de ou membro da fam&iacute;lia; que tenha tido contato
		f&iacute;sico com o paciente; tenha permanecido no mesmo local que o paciente doente (ex.: morado junto ou
		visitado).</p>
	<p><strong>Fonte de infec&ccedil;&atilde;o</strong> <br>
		<br>
		A maioria dos coronav&iacute;rus geralmente infectam apenas uma esp&eacute;cie animal ou, pelo menos um
		pequeno
		n&uacute;mero de esp&eacute;cies proximamente relacionadas. Por&eacute;m, alguns coronav&iacute;rus, como o
		SARS-CoV podem infectar pessoas e animais. O reservat&oacute;rio animal para o SARS-CoV &eacute; incerto,
		mas
		parece estar relacionado com morcegos. Tamb&eacute;m &nbsp;existe a probabilidade de haver um
		reservat&oacute;rio animal para o&nbsp; MERS-CoV que foi isolado de camelos e de morcegos.</p>
	<p align="left" class="leftTitle">&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>