<div id="chart-demo" style="width: 100%">
	<div id="selectbox-demo">
		<div class="widget-container" style="width: 450px" >
			<div class="dx-fieldset">
				<div class="dx-field">
					<div class="dx-field-label">Selecione um país</div>
					<div class="dx-field-value">
						<dx-select-box #selectPaises [dataSource]="paises"
							(onSelectionChanged)="onSelPais()"
							displayExpr="local"
							[searchMode]="'contains'"
							[searchExpr]="searchExprOption"
							[searchEnabled]="true"></dx-select-box>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<dx-chart
        palette="violet"
        [dataSource]="infoPais"
        [title]="titulo">		
		<dxi-series valueField="qtdCasos" name="Total de casos no país"></dxi-series>
		<dxo-common-series-settings #seriesSettings
            argumentField="dia"
            [type]="'spline'">
        </dxo-common-series-settings>
        <dxo-margin [bottom]="20"></dxo-margin>
        <dxo-common-axis-settings>
            <dxo-grid [visible]="true"></dxo-grid>
        </dxo-common-axis-settings>
        <dxo-legend
            verticalAlignment="top"
            horizontalAlignment="right">
        </dxo-legend>
    	<dxo-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60">
            <dxo-label>
            	<dxo-format type="decimal"></dxo-format>
        	</dxo-label>
    	</dxo-argument-axis>
        <dxo-tooltip [enabled]="true"></dxo-tooltip> -->
    </dx-chart>
</div>