<div id="chart-demo" style="width: 100%">
	<div id="selectbox-demo">
		<div class="widget-container" style="width: 450px; margin-left: auto; margin-right: auto; margin-bottom: 28px;" >
			<dx-select-box #selectPaises [dataSource]="paises"
				(onSelectionChanged)="onSelPais()"
				displayExpr="local"
				placeholder="Selecione um país"
				[searchMode]="'contains'"
				[searchEnabled]="true">
			</dx-select-box>
		</div>
	</div>
	
	<dx-chart
        palette="violet"
        [dataSource]="infoPais">		
		<dxi-series valueField="qtdCasos" name="Total de casos no país"></dxi-series>
		<dxo-common-series-settings #seriesSettings
            argumentField="dia"
            [type]="'spline'">
        </dxo-common-series-settings>
        <dxo-margin [bottom]="20"></dxo-margin>
        <dxo-common-axis-settings>
            <dxo-grid [visible]="true"></dxo-grid>
        </dxo-common-axis-settings>
        <dxo-legend
            verticalAlignment="top"
            horizontalAlignment="right">
        </dxo-legend>
    	<dxo-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60">
            <dxo-label>
            	<dxo-format type="decimal"></dxo-format>
        	</dxo-label>
    	</dxo-argument-axis>
        <dxo-tooltip [enabled]="true"></dxo-tooltip> -->
    </dx-chart>
</div>